body {
  margin: 20px;
}

/* Question 1 */

.item-two {
  position: relative;
  left: 30px;
}

.item-three {
  position: relative;
  left: 60px;
}

/* Question 2 */

.box-display{
  margin-bottom: 100px;
}

.gray-box {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  display: inline-block;
}

.box-two {
  position: relative;
  top: 30px;
}

.box-three {
  position: relative;
  top: 60px;
}

/* Question 3 */

.container {
  width: 300px;
  height: 300px;
  background-color: lightgray;
  position: relative;
}

.pink-box {
  width: 150px;
  height: 150px;
  padding: 5px;
  background-color: lightpink;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* Question 4 */

.wrapper {
  border: 2px solid black;
  display: inline-block;
  margin-top: 20px;
}

.menu {
  background-color: lightpink;
  padding: 8px;
  display: inline-block;
  vertical-align: top;
}

.content {
  width: 200px;
  height: 300px;
  padding: 10px;
  background-color: lightgray;
  display: inline-block;
}

/* Question 5 */

.menu-wrapper {
  border: 2px solid black;
  display: inline-block;
  margin-top: 20px;
}

.menu-box {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: lightgray;
  display: inline-block;
}