body {
  margin: 20px;
}

h2 {
  margin-top: 50px;
}



/* Question 1 */

.container {
  width: 300px;
  height: 300px;
  background: lightgray;
}

.box {
  width: 100px;
  height: 100px;
  background: darkgreen;
}

.q1 {
  display: flex;
  align-items: center;
}



/* Question 2 */

.q2 {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Question 3 */

.navbar {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  flex-grow: 1;
  min-width: 150px;
  border: 1px solid black;
  padding: 20px;
  background: beige;
}



/* Question 4 */

.profile-card {
  width: 200px;
  border: 1px solid orange;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card img {
  border-radius: 50%;
}



/* Question 5 */

.course-card {
  width: 200px;
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-card button {
  padding: 10px;
}



/* Question 6 */

.product-card {
  max-width: 400px;
  border: 1px solid lightgray;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.product-image img {
  width: 150px;
  height: 150px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.product-details button {
  padding: 10px;
  width: 100%;
}



/* Question 7 */

.testimonial-card {
  max-width: 400px;
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonial-text {
  font-size: 24px;
  margin: 0;
}

.testimonial-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonial-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial-user h3 {
  margin: 0;
}


/* Question 8 */

.pricing-card {
  width: 200px;
  border: 1px solid lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.pricing-card h2 {
  margin: 0;
}

.price {
  color: orange;
  margin: 0;
}

.pricing-card p {
  margin: 0;
  border-top: 3px solid lightgray;
  padding-top: 10px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing-card li {
  margin: 10px 0;
}

.pricing-card button {
  border: none;
  padding: 10px 20px;
  background: orange;
  color: white;
  cursor: pointer;
}

/* Question 9 */

.pricing-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



/* Question 10 */

.footer {
  background-color: #d88787;
  padding: 40px;
  color: white;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

.footer-column {
  min-width: 200px;

  display: flex;

  flex-direction: column;

  gap: 10px;
}

.footer-column p {
  margin: 0;
}

.copyright {
  margin-top: 40px;
}

@media (max-width: 700px) {
  .footer-links {
    flex-direction: column;
  }
}