
h1{
  text-decoration: underline;
}

body{
  background-color: white;
}
 /* Question 1 */
@media(max-width:800px){
  body{
    background-color: lightgray;
  }
}

/* Question 2 */

@media(min-width:900px){
  /* heading tag */
   h1{
    font-size: 30px;
   }
}

 /* Question 3 */

 .sidebar{
  width: 200px;
  background-color: aqua;
 }
 /* size 600 and small */
 @media(max-width:600px) {
  .sidebar{
    display: none;
  }
 }

 /* Question 4 */
 @media(min-height:700px){
  /* remove ealier class */
  p{
   color:blue;
   }
 }

 /* Question 5 */
  @media(min-width:1000px){
    /* added header */
    header{
      background-color: green;
    }
  }

  /* Question 6 */

  @media(max-height:500px){
    body{
      font-size: 12px;
    }
  }

  /* Question 7 */

footer{
  text-align: left;
}
@media(width:1024px){
  footer{
text-align: center;
}
}


/* Question 8: */

.container {
  width: 50%;
}

@media(max-width:399px){
  .container{
    width:80%
  }
}

/* Question 9: */

@media(min-width:600px)and(max-width:900px){
   p{
    font-size: 16px;
  }
}
/* Question 10: */

 a{
  color:blueviolet;
}

@media(min-width:1000px){
   a{
    color: orange;
  }
}
